
.navbar{
  height: 60px;
  box-shadow: 0 0 4px gray;
  display: flex;
  position:sticky;
  top: 0px;
  z-index:9999;
  background-color: grey;
}

.wrapper{
  width: 100%;
  padding: 10px 20px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft{
   flex: 1;
}

.navLeft .logo{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #34568b;
   
}

.navCenter{
  flex: 1;
  width: 100%;
  margin-left: -100px;
  border:1px solid gray;
  border-radius: 10px ;
  padding-right: 20px;
  background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.navCenter input{
  
    border:none;
    padding:0 10px;
    outline:none;
    color:#000;
}

.navRight{
    padding-right: 20px;
    flex: 1;
     display: flex;
  justify-content: space-around;
  align-items: center;
}

.menuItem{
    display: flex;
    align-items: center;
    cursor: pointer;

    
}

.menuItem h2{
    margin-right: 10px;
}

.welcome{
  font-weight: 500;
  font-style: italic;
}

.welcome span{
  color: #4d32c6;
  text-transform: capitalize;
}
