

.footer{
    width: 100vw;
    height: 220px;
   
    margin-bottom: 0;
    border-radius: 4px;
    padding:10px;
    background-color: #34363a;
    display: flex;
    align-items: center;
    justify-content:space-between;

    .left{
        flex: 1;
         display: flex;
        flex-direction: column;
        padding: 20px;
        .logo{
            font-family: 'Lobster', cursive;
            font-size: 50px;
            color: #34568b;
            }
        p{
            margin: 5px 0;
            color:#fff;
        }
        .social-container{
            display: flex;
            margin: 20px 0;

                .social-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 20px;
                    cursor: pointer;

                    .fc{
                        background-color: #3B5999;
                         border-radius: 50%;
                    }
                    .tw{
                        background-color: red;
                         border-radius: 50%;
                    }
                    .in{
                        background-color: #55ACEE;
                         border-radius: 50%;
                    }
                    .pi{
                        background-color: red;
                         border-radius: 50%;
                    }


                }
        }
    }

    .center{
        flex: 1;
       
        .list{
            width: 100%;
            display: flex;
            flex-direction: column;
           

            .links{
                list-style-type: none;
                padding: 0;
                 margin:10px auto;
                color: #fff;
                cursor: pointer;
                transition: all 0.4s;
                text-transform: uppercase;
               
            }
            .links:hover{
                text-decoration: underline;
            }
        }
    }

    .right{
        flex: 1;
        color: #fff;
       
        h3{
            margin-bottom:20px ;
            text-transform: uppercase;
            text-decoration: underline;
        }
        div{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
    }
}